In [31]:
# Import Python Package
import pandas as pd

In [32]:
# read data from csv

# nrows = load total number of rows in dataframe
# parse_date = parse date into date time format
# usecols = only load particular columns which is defined in usecols
df = pd.read_csv(
    "COVID-19.csv", nrows=10, parse_dates=["date"], usecols=["date", "state"]
)

In [33]:
# describe the dataframe
df.describe()

/var/folders/st/0vwmnbx52s9fx56m78r0bz_00000gn/T/ipykernel_15228/518979486.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe()

       state                 date
count     10                   10
unique     6                    6
top       MA  2021-01-30 00:00:00
freq       3                    2
first    NaN  2021-01-21 00:00:00
last     NaN  2021-02-13 00:00:00

In [34]:
df.head()

  state       date
0    MA 2021-02-13
1    MA 2021-01-30
2    NM 2021-01-30
3    KS 2021-01-29
4    RI 2021-01-29

In [35]:
# display month from dataframe
df["date"].dt.month

0    2
1    1
2    1
3    1
4    1
5    1
6    1
7    1
8    1
9    1
Name: date, dtype: int64

In [36]:
# display year from dataframe
df["date"].dt.year

0    2021
1    2021
2    2021
3    2021
4    2021
5    2021
6    2021
7    2021
8    2021
9    2021
Name: date, dtype: int64

In [37]:
# display day from dataframe
df["date"].dt.day

0    13
1    30
2    30
3    29
4    29
5    23
6    23
7    22
8    22
9    21
Name: date, dtype: int64

In [38]:
df["date"] = pd.to_datetime(df["date"], format="%Y/%m/%d")
df

  state       date
0    MA 2021-02-13
1    MA 2021-01-30
2    NM 2021-01-30
3    KS 2021-01-29
4    RI 2021-01-29
5    MA 2021-01-23
6    PR 2021-01-23
7    KS 2021-01-22
8    RI 2021-01-22
9    ME 2021-01-21